*{
	margin:0px;
	padding:0px;
	border:none;
	outline:none;
	
}

body{
	font-family:"Arial" , sans-serif;
	font-size:13px;
	line-height:1.5em;
	color:#fff;
	background:url(../images/bg.png);
}

#clearfix{
	clear:both;
}

#container{
	width:400px;
	height: auto;
	min-height:400px;
	background:#333;
	overflow:auto;
	margin:60px auto;
	border:#666 solid 2px;
	-moz-border-radius:10px;
	-webkit-border-radius:10;
	border-radius:10px;
	transition-property: height;
    transition-duration: 2s;
    transition-timing-function: linear;
    transition-delay: 1s;
}

#audio-image{
	position:relative;
	overflow:hidden;
	height:300px;
	margin-bottom:15px;
}

#audio-info{
	text-align:center;
}

#audio-info .artist{
	font-weight:bold;
}

.cover{
	width:330px;
	z-index:1;
}

input#volume{
	width:95%;
	-webit-appearance: none !important;
	margin-left:2%;
	background:#ccc;
	height:1px;
	margin-bottom:20px;
}

input#volume::-webkit-slider-thumb{
	-webkit-appearance: none !important;
	background:url(../images/knob.png) no-repeat;
	height:12px;
	width:12px;
}

#audio-buttons{
	width: 90%;
	display: block;
	margin: 15px auto;
	margin-left: 23px;
	overflow: auto;
}

button#play{
	width: 70px;
	height: 70px;
	background: url(../images/play.png) no-repeat;
	float: left;	
}

button#pause{
	width: 70px;
	height: 70px;
	background: url(../images/pause.png) no-repeat;
	float: left;	
}
button#stop{
	width: 70px;
	height: 70px;
	background: url(../images/stop.png) no-repeat;
	float: left;	
}

button#prev{
	width: 70px;
	height: 70px;
	background: url(../images/prev.png) no-repeat;
	float: left;
	margin-top: 15px;	
}

button#next{
	width: 70px;
	height: 70px;
	background: url(../images/next.png) no-repeat;
	float: left;
	margin-top: 15px;
	float: right;	
}

#playlist{
	list-style-type: none;
	padding: 10px;
}

#playlist li{
	cursor: pointer;
	margin: 5px;
}

#playlist li.active{
	font-weight: bold;
	padding: 3px;
	background: #666;
}

#progressbar{
	width: 80%;
	margin-left: 2%;
	margin-bottom: 20px;
	margin-top: 9px;
	height: 10px;
	background: url(../images/progress_bg.png) no-repeat;
	float: left;
}

#progress{
	background: url(../images/progress.png) no-repeat;
	height: 10px;
	display: inline-block;
	position: absolute;
	top: 9px;
	left: 8px;
}

#duration{
	position: absolute;
	top: 0
	right:10px;
	padding: 4px 15px;
	background: #000;
	-moz-border-radius:5px;
	-webkit-border-radius:5px;
	border-radius:5px;
}

#tracker{
	position: relative;
	width: 100%;
}

.logged a{
	width: auto;
	float: right;
	color: #fff;
	text-decoration: none;
	background-color: firebrick;
	padding: 4px 8px 4px 8px;
	font-size: 16px;
	border-radius: 2px;

}
			
#user{
	width: auto;
	float: left;
}
			
.clearfix{
clear: both;
}
			
.upperbar{
	padding: 15px;
}
			
	.playlists{
	width: 400px;
	margin: 0 auto;
	text-align: center;
	padding-top: 60px;
	}
			
	.playlist-name, .submit-playlist{
	margin-top: 15px;
	}
			
	.playlist-name input{
	padding: 10px;
	}
			
	.playlist-name input[type]{
	font-size: 16px;
	}
			
	.submit-playlist input[value]{
	font-weight: bold;
	font-size: 18px;
	padding: 15px 30px 15px 30px;
	}
			
	.playlist-cover{
	padding-top: 15px;
	padding-bottom: 15px;
	}
			
	.playlist-cover .cover-label{
	margin-bottom: 10px;
	}
			
	.playlist-cover input{
	width: 215px;
	}


			
			
			.logged a{
				width: auto;
				float: right;
				color: #fff;
				text-decoration: none;
				background-color: firebrick;
				padding: 4px 8px 4px 8px;
				font-size: 16px;
				border-radius: 2px;

			}
			
			#user{
				width: auto;
				float: left;
			}
			
			.clearfix{
				clear: both;
			}
			
			.upperbar{
				padding: 15px;
			}
			
			.playlists{
				width: 400px;
				margin: 0 auto;
				text-align: center;
				padding-top: 60px;
			}
			
			.playlist-name, .submit-playlist{
				margin-top: 15px;
			}
			
			.playlist-name input{
				padding: 10px;
			}
			
			.playlist-name input[type]{
				font-size: 16px;
			}
			
			.submit-playlist input[value]{
				font-weight: bold;
				font-size: 18px;
				padding: 15px 30px 15px 30px;
			}
			
			

			.login{
				width: 245px;
				margin: 0 auto;
				padding-top: 75px;
			}
			
			.login h1{
				border: 1px solid #fff;
				padding: 10px;
				font-size: 13px;
				margin-bottom: 20px;
			}
			
			.login form h2{
				margin-left: 90px;
			}
			
			.login form input{
				padding-top: 15px;
				padding-bottom: 15px;
				width: 245px;
			}
			
			.login form input[type]{
				font-size: 18px;
			}
			
			.login-email, .login-password, .login-submit{
				margin-top: 15px;
			}
			
			.login-submit input[value]{
				font-weight: bold;
				font-size: 18px;
			}
			
			.register-link{
				margin-top: 15px;
			}
			
			.register-link a{
				color: #fff;
				font-size: 16px;
				text-decoration: none;
			}
			
			.register-link a:hover{
				color: cyan;
			}
					

			
			.logged a{
				width: auto;
				float: right;
				color: #fff;
				text-decoration: none;
				background-color: firebrick;
				padding: 4px 8px 4px 8px;
				font-size: 16px;
				border-radius: 2px;

			}
			
			#user{
				width: auto;
				float: left;
			}
			
			.clearfix{
				clear: both;
			}
			
			.upperbar{
				padding: 15px;
			}
			
			.playlists{
				width: 400px;
				margin: 0 auto;
				/*text-align: center;*/
				padding-top: 60px;
			}
			
			.playlists h3{
				text-align: center;
			}
			
			#createLink{
				color: #fff;
				text-decoration: none;
				background: cadetblue;
				padding: 12px 30px 12px 30px;
				font-size: 16px;
			}
			
			#addLink{
				color: white;
				text-decoration: none;
				background-color: cornflowerblue;
				padding: 6px 30px 6px 30px;
				font-size: 14px;
			}
			
			#container h2{
				border: 1px solid #fff;
				padding: 10px;
				font-size: 13px;
				margin-bottom: 20px;
				border-radius: 6px;
			text-align: center;
			}
			
			#editLink, #delLink{
				color: antiquewhite;
				text-decoration: none;
				margin-left: 10px;
				
			}
			
			.pls{
				width: 170px;
				height: 125px;
				float: left;
				padding: 0px;
				background-color: aliceblue;
				margin: 14px;
				margin-bottom: 20px;
				overflow: hidden;
			}
			
			.pls #plLink{
				color: black;
				text-decoration: none;
				font-weight: bold;
				font-size: 16px;
				font-family: tahoma;
				padding: 2px;
			}
			
			.pls #delLink{
				background-color: crimson;
    			padding: 2px;
				font-size: 12px;
			}
			
			.pls #editLink{
				padding: 2px;
    			background-color: chocolate;
				font-size: 12px;
			}
			
			.cover-not{
				color: black;
				font-size: 16px;
				width: 85px;
				text-align: center;
				margin-left: 40px;
				margin-top: 22px;
			}
			
			
